header nav, footer{
    height: 10vh;
}
main{
    background-color: aquamarine;
    height: 80vh;
    position: relative;
}

main div{
    border: 3px solid black;
}
#big-square{
    border: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 50vh;
    background-color: lightgrey;
}
.w-10{
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.w-9{
    width: calc(100% / 9);
    height: calc(100% / 9);
}
.cell:hover{
    cursor: pointer;
}
.w-7{
    width: calc(100% / 7);
    height: calc(100% / 7);
}
.bomb{
    background-color: red;
}
.fine{
    background-color: rgb(102, 102, 102);
}